# Build output
bin/
obj/
artifacts/
*.dll
*.exe
*.pdb

# VS & IDE stuff
.vs/
.vscode/
*.user
*.suo

# Logs & cache
*.log
*.tmp
*.cache
logs/
log/

# Config (env sensitive)
appsettings.*.json
!.appsettings.json
.env

# Publish output
publish/
out/

# NuGet
*.nupkg
*.snupkg
**/packages/
.nuget/

# node_modules (nếu có frontend)
node_modules/
dist/

# Test results
TestResults/
coverage*.json
*.coverage
*.coveragexml
